# Ignore Python cache files and directories
__pycache__/
*.pyc

# Ignore all hidden directories (starting with .)
.*/

# Optionally, you can add other common Python-related ignores
# Ignore virtual environments
venv/
env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS hidden files
.DS_Store

# Ignore other system-specific or editor-specific files
Thumbs.db
.idea/
.vscode/

# Ignore the model checkpoints and dataset
# models/
BLIP2_DATASET/
BLIP2_DATASET_1O_1C/
BLIP2_DATASET_1O_MC/
BLIP2_DATASET_2O_1C/
inference/out_video/
learning/src.egg-info/
local/

analysis/open_loop_plotter.py
analysis/open_loop_verification.py
analysis/comparison_plots/

inference/results/
# Ignore pdfs and npy
*.pdf
*.npy

random*.py
random*.png
flight_data_sample
local2
metrics_csv
BLIP2_Features
MCMD_Sim/results*
zold
random_exp


analysis
gym-pybullet-drones